* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8d8d8;
    font-family: sans-serif;
}

.login_wrapper {
    max-width: 450px;
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    margin: auto;
}

input {
    padding: 20px 15px;
    border-radius: 4px;
    border: #d8d8d8;
}

button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    background-color: #5b5beb;
    transition: 100ms;
}

button:hover {
    background-color: #2f2fe1;
}

button:active {
    background-color: #0000a1;
}

a {
    display: inline-block;
    padding: 1px;
}